{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <title>Car Rent</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />

        <!-- box icone -->
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

        <link rel="stylesheet" href="/static/css/style.css">

    </head>

    <body>
        <header>
            <nav id="navbar" class="user-select-none">
                <div class="logo">
                    <h1>MORENT</h1>
                </div>
                <div class="search_wrap">
                    <div class="search">
                        <form action="">
                            <input type="search" name="" class="search-input" placeholder="Search">
                        </form>
                        <button type="submit" class="btn bg-transparent border-0"><i class='bx bx-search i-search'></i></button>
                        <div class="i-filter">
                            <button type="button" class="btn btn-white mb-2 filter-button rounded-circle fs-5" data-bs-toggle="dropdown" aria-expanded="false"><i class='bx bx-slider-alt'></i></button>
                            <ul class="dropdown-menu border-0 p-0">
                                <div class="card">
                                    <article class="card-group-item">
                                        <header class="card-header">
                                            <h6 class="title">Brands </h6>
                                        </header>
                                        <div class="filter-content">
                                            <div class="card-body">
                                            <form>
                                                <label class="form-check">
                                                  <input class="form-check-input" type="checkbox" value="">
                                                  <span class="form-check-label">
                                                    Mersedes Benz
                                                  </span>
                                                </label> <!-- form-check.// -->
                                                <label class="form-check">
                                                  <input class="form-check-input" type="checkbox" value="">
                                                  <span class="form-check-label">
                                                    Nissan Altima
                                                  </span>
                                                </label>  <!-- form-check.// -->
                                                <label class="form-check">
                                                  <input class="form-check-input" type="checkbox" value="">
                                                  <span class="form-check-label">
                                                    Another Brand
                                                  </span>
                                                </label>  <!-- form-check.// -->
                                            </form>
                                
                                            </div> <!-- card-body.// -->
                                        </div>
                                    </article> <!-- card-group-item.// -->
                                    
                                    <article class="card-group-item">
                                        <header class="card-header">
                                            <h6 class="title">Choose type </h6>
                                        </header>
                                        <div class="filter-content">
                                            <div class="card-body">
                                            <label class="form-check">
                                              <input class="form-check-input" type="radio" name="exampleRadio" value="">
                                              <span class="form-check-label">
                                                First hand items
                                              </span>
                                            </label>
                                            <label class="form-check">
                                              <input class="form-check-input" type="radio" name="exampleRadio" value="">
                                              <span class="form-check-label">
                                                Brand new items
                                              </span>
                                            </label>
                                            <label class="form-check">
                                              <input class="form-check-input" type="radio" name="exampleRadio" value="">
                                              <span class="form-check-label">
                                                Some other option
                                              </span>
                                            </label>
                                            </div> <!-- card-body.// -->
                                        </div>
                                    </article> <!-- card-group-item.// -->
                                </div> 
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="nav-account">
                    <a href="#"><li id="my-click1" class="nav-list nav-i"><i class='bx bxs-heart'></i></li></a>
                    <a href="#"><li id="my-click2" class="nav-list nav-i"><i class='bx bxs-bell'></i></li></a>
                    <!-- <a href="#"><li id="dark" class="nav-list nav-i"><i class='bx bxs-cog' ></i></li></a> -->
                    
                    <div class="btn-group ">
                        <button type="button" class="btn btn-white border rounded-circle fs-5" data-bs-toggle="dropdown" aria-expanded="false"><i class='bx bxs-cog' ></i></button>
                        <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Lang</a></li>
                        <li><a class="dropdown-item" href="#">Themse</a></li>
                        <li><a class="dropdown-item" href="#">Display</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Properties</a></li>
                        </ul>
                    </div>
                    <div class="btn-group ">
                        <button type="button" class="btn btn-white rounded-circle p-0 nav-profile" data-bs-toggle="dropdown" aria-expanded="false"><img src="/static/images/Profil.png" alt=""></button>
                        <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li><a class="dropdown-item" href="#">Manage</a></li>
                        <li><a class="dropdown-item" href="#">My Car List</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Log Out</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>


        <main id="main" >
            <section class="head-car">
                <div class="left-car">
                    <div class="left-car-text">
                        <h2>The Best Platform  for Car Rental</h2>
                        <p>Ease of doing a car rental safely and  reliably. Of course at a low price.</p>
                        <a href="{% url 'carInfo' %}"><button class="btn-blue">Rental Car</button></a>
                    </div>
                    <div class="left-car-img">
                        <img src="/static/images/image 7.png" alt="">
                    </div>
                </div>
                <div class="right-car">
                    <div class="right-car-text">
                        <h2>The Best Platform  for Car Rental</h2>
                        <p>Ease of doing a car rental safely and  reliably. Of course at a low price.</p>
                        <a href="{% url 'carInfo' %}"><button class="btn-light-blue">Rental Car</button></a>
                       
                    </div>
                    <div class="left-car-img">
                        <img src="/static/images/image 8.png" alt="">
                    </div>

                </div>
            </section>
            
            <section class="head-radio">
                <div class="radio-left radio-effect">
                    <div class="pick-redio">
                        <input type="radio" name="pick" id="pick">
                        <label for="pick">Pick-Up</label>
                    </div>

                    <div class="radio-left-option">
                        <div class="select" >
                            <label for="SelectYourCity">Location</label>
                            <select class="radio_select_input">
                                <option value="SelectYourCity">Select Your City</option>
                                <option value="SelectYourCity">Dushanbe</option>
                                <option value="SelectYourCity">Vahdat</option>
                                <option value="SelectYourCity">Panjakent</option>
                                <option value="SelectYourCity">Khujand</option>
                                <option value="SelectYourCity">Kulob</option>
                            </select>    
                        </div>

                        <div class="select sel-1">
                            <label for="SelectYourDate">Date</label>
                            <select class="radio_select_input">
                                <option value="SelectYourDate">Select Your Date</option>
                                <option value="SelectYourDate">2024</option>
                                <option value="SelectYourDate">2023</option>
                                <option value="SelectYourDate">2022</option>
                                <option value="SelectYourDate">2021</option>
                                <option value="SelectYourDate">2020</option>
                            </select>
                        </div>

                        <div class="select sel-2">
                            <label for="SelectYourTime">Time</label>
                            <select class="radio_select_input">
                                <option value="SelectYourTime">Select Your Time</option>
                                <option value="SelectYourTime">5am</option>
                                <option value="SelectYourTime">12pm</option>
                                <option value="SelectYourTime">5pm</option>
                                <option value="SelectYourTime">12am</option>
                            </select>
                        </div>

                    </div>
                </div>
              
                    <a href="#"><i class='bx bx-sort-alt-2 center-arrow' style='color:#ffffff'  ></i></a>
            
                    <div class="radio-right radio-effect">
                        <div class="pick-redio">
                            <input type="radio" name="pick" id="pick">
                            <label for="pick">Drop-off</label>
                        </div>
                        <div class="radio-left-option">
                            <div class="select">
                                <label for="SelectYourCity">Location</label>
                                <select class="radio_select_input">
                                    <option value="SelectYourCity">Select Your City</option>
                                    <option value="SelectYourCity">Dushanbe</option>
                                    <option value="SelectYourCity">Vahdat</option>
                                    <option value="SelectYourCity">Panjakent</option>
                                    <option value="SelectYourCity">Khujand</option>
                                    <option value="SelectYourCity">Kulob</option>
                                </select>    
                            </div>
    
                            <div class="select sel-1">
                                <label for="SelectYourDate">Date</label>
                                <select class="radio_select_input">
                                    <option value="SelectYourDate">Select Your Date</option>
                                    <option value="SelectYourDate">2024</option>
                                    <option value="SelectYourDate">2023</option>
                                    <option value="SelectYourDate">2022</option>
                                    <option value="SelectYourDate">2021</option>
                                    <option value="SelectYourDate">2020</option>
                                </select>
                            </div>
    
                            <div class="select sel-2">
                                <label for="SelectYourTime">Time</label>
                                <select class="radio_select_input">
                                    <option value="SelectYourTime">Select Your Time</option>
                                    <option value="SelectYourTime">5am</option>
                                    <option value="SelectYourTime">12pm</option>
                                    <option value="SelectYourTime">5pm</option>
                                    <option value="SelectYourTime">12am</option>
                                </select>
                            </div>
    
                        </div>
                    </div>

            </section>

            <section class="first-card-wrapper card-warpper">
                <div class="card-info">
                    <h3 class="text-gray">Popular Car</h3>
                    <a class href="{% url 'carInfo' %}">View All</a>
                </div>
                <div class="container">
                    <div class="carRow scroll-1 container-popular pt-3 pb-5 px-4">
                        <div class="col-lg-3 col-10">
                            <div class="card-main mx-3">
                                <div class="card-first-part">
                                        <div>
                                            <h3>Koenigsegg</h3>
                                            <p class="text-gray">Sport</p>
                                        </div>
                                        <i class='bx bx-heart card-icon text-gray my-click'></i> <br>
                                </div>  
                                <div class="card-second-part">
                                    <img src="/static/images/image 7.png" alt="car">
                                </div>
                                <div class="card-third-part">
                                    <div>
                                        <i class='bx bxs-ev-station'></i>
                                        <p>90L</p>
                                    </div>
                                    <div>
                                        <i class='bx bx-buoy'></i>
                                        <p>Manual</p>
                                    </div>
                                <div>
                                    <i class='bx bxs-group'></i>
                                    <p>2People</p>
                                </div>
                                
                                </div>
                                <div class="card-four-part">
                                    <h3>$99.00/ <span>day</span></h3>
                                    <a href="{% url 'carInfo' %}"><button class="btn-blue">Rental Car</button></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-10">
                            <div class="card-main mx-3">
                                <div class="card-first-part">
                                        <div>
                                            <h3>Nissan GT - R</h3>
                                            <p class="text-gray">Sport</p>
                                        </div>
                                        <i class='bx bx-heart card-icon text-gray my-click'></i> <br>
                                </div>  
                                <div class="card-second-part">
                                    <img src="/static/images/image 8.png" alt="car">
                                </div>
                                <div class="card-third-part">
                                    <div>
                                        <i class='bx bxs-ev-station'></i>
                                        <p>80L</p>
                                    </div>
                                    <div>
                                        <i class='bx bx-buoy'></i>
                                        <p>Manual</p>
                                    </div>
                                <div>
                                    <i class='bx bxs-group'></i>
                                    <p>2People</p>
                                </div>
                                
                                </div>
                                <div class="card-four-part">
                                    <h3>$80.00/ <span>day</span></h3>
                                    <a href="{% url 'carInfo' %}"><button class="btn-blue">Rental Car</button></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-10">
                            <div class="card-main mx-3">
                                <div class="card-first-part">
                                        <div>
                                            <h3>Rolls - Royce</h3>
                                            <p class="text-gray">Sedan</p>
                                        </div>
                                        <i class='bx bx-heart card-icon text-gray my-click'></i> <br>
                                </div>  
                                <div class="card-second-part">
                                    <img src="/static/images/Car.png" alt="car">
                                </div>
                                <div class="card-third-part">
                                    <div>
                                        <i class='bx bxs-ev-station'></i>
                                        <p>70L</p>
                                    </div>
                                    <div>
                                        <i class='bx bx-buoy'></i>
                                        <p>Manual</p>
                                    </div>
                                <div>
                                    <i class='bx bxs-group'></i>
                                    <p>4People</p>
                                </div>
                                
                                </div>
                                <div class="card-four-part">
                                    <h3>$96.00/ <span>day</span></h3>
                                    <a href="{% url 'carInfo' %}"><button class="btn-blue">Rental Car</button></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-10">
                            <div class="card-main mx-3">
                                <div class="card-first-part">
                                        <div>
                                            <h3>Nissan GT - R</h3>
                                            <p class="text-gray">Sport</p>
                                        </div>
                                        <i class='bx bx-heart card-icon text-gray my-click'></i> <br>
                                </div>  
                                <div class="card-second-part">
                                    <img src="/static/images/Carr.png" alt="car">
                                </div>
                                <div class="card-third-part">
                                    <div>
                                        <i class='bx bxs-ev-station'></i>
                                        <p>80L</p>
                                    </div>
                                    <div>
                                        <i class='bx bx-buoy'></i>
                                        <p>Manual</p>
                                    </div>
                                <div>
                                    <i class='bx bxs-group'></i>
                                    <p>2People</p>
                                </div>
                                
                                </div>
                                <div class="card-four-part">
                                    <h3>$80.00/ <span>day</span></h3>
                                    <a href="{% url 'carInfo' %}"><button class="btn-blue">Rental Car</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="second-card-wrapper .card-warpper-recom">
                <div class="card-info">
                    <h3 class="text-gray">Recomendation Car</h3>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <div class="card-main">
                                <div class="card-first-part">
                                        <div>
                                            <h3>All New Rush</h3>
                                            <p class="text-gray">SUV</p>
                                        </div>
                                        <i class='bx bx-heart card-icon text-gray my-click'></i> <br>
                                </div>  
                                <div class="card-second-part">
                                    <img src="/static/images/Carrr.png" alt="car">
                                </div>
                                <div class="card-third-part">
                                    <div>
                                        <i class='bx bxs-ev-station'></i>
                                        <p>70L</p>
                                    </div>
                                    <div>
                                        <i class='bx bx-buoy'></i>
                                        <p>Manual</p>
                                    </div>
                                <div>
                                    <i class='bx bxs-group'></i>
                                    <p>6People</p>
                                </div>
                                
                                </div>
                                <div class="card-four-part">
                                    <h3>$72.00/ <span>day</span></h3>
                                    <a href="{% url 'carInfo' %}"><button class="btn-blue">Rental Car</button></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <div class="card-main">
                                <div class="card-first-part">
                                        <div>
                                            <h3>CR  - V</h3>
                                            <p class="text-gray">SUV</p>
                                        </div>
                                        <i class='bx bx-heart card-icon text-gray my-click'></i> <br>
                                </div>  
                                <div class="card-second-part">
                                    <img src="/static/images/Car (1).png" alt="car">
                                </div>
                                <div class="card-third-part">
                                    <div>
                                        <i class='bx bxs-ev-station'></i>
                                        <p>80L</p>
                                    </div>
                                    <div>
                                        <i class='bx bx-buoy'></i>
                                        <p>Manual</p>
                                    </div>
                                <div>
                                    <i class='bx bxs-group'></i>
                                    <p>6People</p>
                                </div>
                                
                                </div>
                                <div class="card-four-part">
                                    <h3>$80.00/ <span>day</span></h3>
                                    <a href="{% url 'carInfo' %}"><button class="btn-blue">Rental Car</button></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 mb-5 ">
                            <div class="card-main">
                                <div class="card-first-part">
                                        <div>
                                            <h3>All New Terios</h3>
                                            <p class="text-gray">SUV</p>
                                        </div>
                                        <i class='bx bx-heart card-icon text-gray my-click'></i> <br>
                                </div>  
                                <div class="card-second-part">
                                    <img src="/static/images/Car (3).png" alt="car">
                                </div>
                                <div class="card-third-part">
                                    <div>
                                        <i class='bx bxs-ev-station'></i>
                                        <p>90L</p>
                                    </div>
                                    <div>
                                        <i class='bx bx-buoy'></i>
                                        <p>Manual</p>
                                    </div>
                                <div>
                                    <i class='bx bxs-group'></i>
                                    <p>6People</p>
                                </div>
                                
                                </div>
                                <div class="card-four-part">
                                    <h3>$74.00/ <span>day</span></h3>
                                    <a href="{% url 'carInfo' %}"><button class="btn-blue">Rental Car</button></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <div class="card-main">
                                <div class="card-first-part">
                                        <div>
                                            <h3>CR  - V</h3>
                                            <p class="text-gray">SUV</p>
                                        </div>
                                        <i class='bx bx-heart card-icon text-gray my-click'></i> <br>
                                </div>  
                                <div class="card-second-part">
                                    <img src="/static/images/Car (4).png" alt="car">
                                </div>
                                <div class="card-third-part">
                                    <div>
                                        <i class='bx bxs-ev-station'></i>
                                        <p>80L</p>
                                    </div>
                                    <div>
                                        <i class='bx bx-buoy'></i>
                                        <p>Manual</p>
                                    </div>
                                <div>
                                    <i class='bx bxs-group'></i>
                                    <p>6People</p>
                                </div>
                                
                                </div>
                                <div class="card-four-part">
                                    <h3>$80.00/ <span>day</span></h3>
                                    <a href="{% url 'carInfo' %}"><button class="btn-blue">Rental Car</button></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <div class="card-main">
                                <div class="card-first-part">
                                        <div>
                                            <h3>MG ZX Exclusice</h3>
                                            <p class="text-gray">Hatchback</p>
                                        </div>
                                        <i class='bx bx-heart card-icon text-gray my-click'></i> <br>
                                </div>  
                                <div class="card-second-part">
                                    <img src="/static/images/Car (7).png" alt="car">
                                </div>
                                <div class="card-third-part">
                                    <div>
                                        <i class='bx bxs-ev-station'></i>
                                        <p>70L</p>
                                    </div>
                                    <div>
                                        <i class='bx bx-buoy'></i>
                                        <p>Manual</p>
                                    </div>
                                <div>
                                    <i class='bx bxs-group'></i>
                                    <p>4People</p>
                                </div>
                                
                                </div>
                                <div class="card-four-part">
                                    <h3>$76.00/ <span>day</span></h3>
                                    <a href="{% url 'carInfo' %}"><button class="btn-blue">Rental Car</button></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <div class="card-main">
                                <div class="card-first-part">
                                        <div>
                                            <h3>New MG ZS</h3>
                                            <p class="text-gray">SUV</p>
                                        </div>
                                        <i class='bx bx-heart card-icon text-gray my-click'></i> <br>
                                </div>  
                                <div class="card-second-part">
                                    <img src="/static/images/Car (6).png" alt="car">
                                </div>
                                <div class="card-third-part">
                                    <div>
                                        <i class='bx bxs-ev-station'></i>
                                        <p>80L</p>
                                    </div>
                                    <div>
                                        <i class='bx bx-buoy'></i>
                                        <p>Manual</p>
                                    </div>
                                <div>
                                    <i class='bx bxs-group'></i>
                                    <p>6People</p>
                                </div>
                                
                                </div>
                                <div class="card-four-part">
                                    <h3>$80.00/ <span>day</span></h3>
                                    <a href="{% url 'carInfo' %}"><button class="btn-blue">Rental Car</button></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <div class="card-main">
                                <div class="card-first-part">
                                        <div>
                                            <h3>MG ZX Excite</h3>
                                            <p class="text-gray">Hatchback</p>
                                        </div>
                                        <i class='bx bx-heart card-icon text-gray my-click'></i> <br>
                                </div>  
                                <div class="card-second-part">
                                    <img src="/static/images/Car (7).png" alt="car">
                                </div>
                                <div class="card-third-part">
                                    <div>
                                        <i class='bx bxs-ev-station'></i>
                                        <p>90L</p>
                                    </div>
                                    <div>
                                        <i class='bx bx-buoy'></i>
                                        <p>Manual</p>
                                    </div>
                                <div>
                                    <i class='bx bxs-group'></i>
                                    <p>6People</p>
                                </div>
                                
                                </div>
                                <div class="card-four-part">
                                    <h3>$74.00/ <span>day</span></h3>
                                    <a href="{% url 'carInfo' %}"><button class="btn-blue">Rental Car</button></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <div class="card-main">
                                <div class="card-first-part">
                                        <div>
                                            <h3>New MG ZS</h3>
                                            <p class="text-gray">SUV</p>
                                        </div>
                                        <i class='bx bx-heart card-icon text-gray my-click'></i> <br>
                                </div>  
                                <div class="card-second-part">
                                    <img src="/static/images/Car (2).png" alt="car">
                                </div>
                                <div class="card-third-part">
                                    <div>
                                        <i class='bx bxs-ev-station'></i>
                                        <p>80L</p>
                                    </div>
                                    <div>
                                        <i class='bx bx-buoy'></i>
                                        <p>Manual</p>
                                    </div>
                                <div>
                                    <i class='bx bxs-group'></i>
                                    <p>6People</p>
                                </div>
                                
                                </div>
                                <div class="card-four-part">
                                    <h3>$80.00/ <span>day</span></h3>
                                    <a href="{% url 'carInfo' %}"><button class="btn-blue">Rental Car</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <div class="show-more-car">
                <a href="{% url 'carInfo' %}"><button class="btn-blue">Show More Car</button></a>
                <h3 class="text-gray">120 Car</h3>
            </div>

        </main>


        <footer>
            <div class="footer-upper">
                    <div class="footer-first">
                        <h1 class="text-blue">MORENT</h1>
                        <p class="text-gray">Our vision is to provide convenience and help increase your sales business.</p>
                    </div>
                    <div class="footer-remain">
                            <div class="footer-second">
                                <h3>About</h3>
                                <li><a href="#how-it-works">How it works</a></li>
                                <li><a href="#featured">Featured</a></li>
                                <li><a href="#partnership">Partnership</a></li>
                                <li><a href="#business-relation">Business Relation</a></li>
                            </div>
                            <div class="footer-third">
                                <h3>Community</h3>
                                <li><a href="#events">Events</a></li>
                                <li><a href="#blog">Blog</a></li>
                                <li><a href="#podcast">Podcast</a></li>
                                <li><a href="#invite-a-friend">invite a friend</a></li>
                            </div>
                            <div class="footer-fourth">
                                <h3>Socials</h3>
                                <li><a href="#discord">discord</a></li>
                                <li><a href="#instagram">instagram</a></li>
                                <li><a href="#twitter">twitter</a></li>
                                <li><a href="#facebook">faceook</a></li>
                            </div>
                    </div>
            </div>
            <div class="footer-down">
                <h3 class="footer-1">©2024 Alif Academy Students</h3>
                <div class="footer-last">
                    <h3 class="footer-2">Sonira</h3>
                    <h3 class="footer-3">Kreshma</h3>
                    <h3 class="footer-4">Abulfazal</h3>
                </div>

            </div>
            
        </footer>



        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>

        <script src="/static/javascript/app.js"></script>
    </body>
</html>
